body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.topTitle {
  color: rgb(34, 34, 189);
  font-size: 8vh;
  margin-bottom: 0%;
  cursor: default;
}

.topTitle:hover {
  color: chartreuse;
}

.webdevTitle {
  color: rgb(138, 138, 138);
  font-size: 4vh;
  margin-top: 0%;
  font-family: "Roboto", sans-serif;
  cursor: default;
}
.webdevTitle:hover {
  color: chartreuse;
}

.topTitleSidebar {
  padding-top: 9vh;
  padding-bottom: 0%;
  color: rgb(34, 34, 189);
  font-size: 16px;
  cursor: pointer;
}

.topTitleSidebar:hover {
  color: chartreuse;
}

.ImgContainer {
  margin-top: 10vh;
  object-fit: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: center;
}

.startScreen {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/*Eliminates padding, centers the thumbnail */

body,
html {
  padding: 0;
  margin: 0;
  text-align: center;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 120px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 13vh; /* Stay at the top */
  left: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 20px 20px 6px 20px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(34, 34, 189);
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: chartreuse;
  /* #f1f1f1;*/
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

@media screen and (max-width: 480px) {
  .main {
    margin: auto;
    padding: auto;
  }

  .sidenav {
    position: absolute;
    left: -5%;
    top: 0;
    padding-left: 0%;
    height: 10vh;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 10vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    z-index: 6;
  }

  .topTitleSidebar {
   position: absolute;
   top: -90%;
   left: 38%;
   font-size: 18px;

  }

  .sidenav a {
    font-size: 18px;
    max-width: 20vw;
    display: inline;
  }

  .ImgContainer {
    padding: auto;
    display: flex;
  }

  .projectsText {
    font-weight: 600;
  }
  .socialLinks {
    margin-left: 6vw;
  }
}

/*manages the github and linkedin divs*/
/* .socialLinks {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
} */
/*tags the github and linkedin logo <a> links*/
.socialLinks a:hover {
  animation: shake 0.5s;
}

.aSocialLinks {
  padding: 10px;
  margin: -20px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*About-Page*/
.aboutMain {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.aboutFoto {
  width: 20%;
  height: 20vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid chartreuse;
  margin-top: 5vh;
}

.aboutFoto:hover {
  color: rgb(34, 34, 189);
}
.profilePic {
  display: inline;
  margin: 0 auto;
  height: 120%;
  width: auto;
}

.aboutTextHeadline {
  margin-top: 5vh;
  font-family: "Roboto", sans-serif;
  color: rgb(34, 34, 189);
  font-weight: 500;
  font-size: 5vh;
}

.aboutTextHeadline:hover {
  color: chartreuse;
}

.aboutSubText {
  margin-top: 5vh;
  width: 35vw;
  text-align: start;
  font-family: "Roboto", sans-serif;
  color: rgb(34, 34, 189);
  font-size: 20px;
  font-weight: 500;
}

/*CV PAGE*/
.cvContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.cvImg {
  height: 50%;
  width: 50%;
  margin-bottom: 0%;
  margin-left: 20%;
  padding: 0px;
}
.cvHeadline {
  font-weight: bold;
  font-size: 5vh;
  margin-top: 5vh;
  font-family: "Roboto", sans-serif;
  color: rgb(34, 34, 189);
  font-weight: 500;
}
/*Projects Page*/

.projectHeader {
  font-weight: bold;
  font-size: 5vh;
  margin-top: 5vh;
}

.single_projects {
  margin: 20px;
}

.project-pics {
  object-fit: contain;
  margin-bottom: 25px;
  max-height: 40vh;
  border-radius: 16px;
  border: 4px solid rgb(34, 34, 189);
}

.projectsText {
  width: 43vh;
  margin-left: 8%;
  text-align: start;
  font-family: "Roboto", sans-serif;
  color: rgb(34, 34, 189);
  font-size: 18px;
  font-weight: 600;
}

.project-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.githubLinkLogo {
  width: 30px;
  height: 30px;
  padding-bottom: 4px;
}

.button {
  background-color: chartreuse;
  border-radius: 4px;
  border: 1px solid rgb(34, 34, 189);
  color: rgb(34, 34, 189);
  font-family: arial, sans-serif;
  font-size: 18px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(34, 34, 189);
  color: chartreuse;
}

#cvDownload {
  margin-top: -20px;
}
